.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}

textarea {
    resize:none
}
section{
  min-height: 600px;
}

footer p{
  text-align: center;
  padding-top: 10px;
}
