{% extends "daftar_beasiswa/layout/base.html" %}
{% block title %}Tempat Wawancara{% endblock %}

{% block content %}
<h1 class="main-title">Tambah Tempat Wawancara</h1>
<hr/>

<section name="input-list" id="input-list">
    <div class="container1">
        <h2>Tempat Wawancara</h2>
        <form id="form" method="POST" action="#">
            {% csrf_token %}
            {{ form_wawancara }}
            <br>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-primary" value="Submit">
        </form>
    </div>
</section>
{% endblock %}
